body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer {
    margin-top: 40px;
}

.logo {
  width: 20%;
  height: auto;
}

.logo-head {
  width: 80%;
  height: auto;
}

.card {
  border-radius: 25px;
}

.member {
  margin-top: 5px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.sponsor {
  margin-top: 5px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
