{% extends 'admin/base_site.html' %}

{% load static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "/admin/adminstyle.css" %}">
{% endblock %}

{% block header %}
{% block nav-global %}
    <img class="brand_img" src="{% static 'edashboard/images/logo.png'%}"  height="-webkit-fill-available" alt="logo">
{% endblock %}
{% block branding %}
    <div class="head">
        <h1 id="name">Energy Dashboard Admin</h1>
    </div>
{% endblock %}
{% endblock %}
