html,
body {
  margin: 0;
  padding: 0;
  width:100%;
  height:100%;
}
ul {
  list-style-type: none;
  text-align: left;
}
ul#sidemenu{
  padding: 0;
}
li{
  text-align: left;
  max-width: inherit;
}
button{
  background-color: #003467;
  color: white;
  width: 10em;
  height: 3em;
  font-size: 12px;
  margin-left: 45%;
  margin-top: 25%;
  outline: none;
  border: none;
}
#rightcont{
  width: 100%;
  height:100%;
}
div .leftdiv{
  height: 100%;
  width: fit-content;
}
div .rightdiv{
  height: 100%;
  width: fit-content;
}
div#div-container{
  width: inherit;
  height: 50%;
}
canvas#line-chart{
  width: 100%;
  height: 100%;
}
.sidebar {
    background-color: #003467;
    overflow: scroll;
    position: fixed;
    left: 0;
    height: -webkit-fill-available;
    display: inline-block;
    margin:0;
    padding: .5%;
    color: white;
}
.imgborder{
  background-color: #003467;
  width: inherit;
  height: inherit;

}
.sideheader{
  background-color: #003467;
  text-align: center;
}
h1{
  color: white;
  text-align: center;
}
.sidebar a{
  display: block;
  text-decoration: none;
  width: fit-content;
  color: white;
}
.container{
  width: 100%;
  height: 100%;
  display: inline-flex;
}
.topnav {
    background-color: #003467;
    overflow: hidden;
    position: sticky;
    top: 0px;
    right: 0px;
    padding: 0px;
    z-index: 1;
    clear: both;
}
.topnav a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    width: fit-content;
}
.topnav#links{
  float: left;
  width: fit-content;
}
.topnav#links a{
  font-size: 25px;
}
.graphcont{
  display: block;
  width: -webkit-fill-available;
}
div .topnav#settings{
  float: right;
  width: fit-content;
}
div .topnav#settings a{
  font-size: 12px;
}
.topnav a:hover {
    background-color: #ffcc01;
    color: Black;
}
button:hover {
    background-color: #ffcc01;
    color: Black;
}
img#logo{
  width: inherit;
  height: inherit;
  opacity: 1;
}
#namesub {
  display: none;
}
#numbersub {
  display: none;
}
#container{
  width: 100%;
  height:auto;
  display: flex;
}
#left-cont{
  float: left;
  width:70%;
  height: 100%;
}
#right-cont{
  padding: 1%;
  float: right;
  width: 30%;
  height: 100%;
}
div#banner{
  background: url("{% static 'edashboard/images/NAU2.jpg' %}");
  height: 15%;
  width: inherit;
  margin: 5%;
  overflow: hidden;
  text-align: center;
}
div#innerbanner{

}
h1#head{
  color: #003467;
}
.chart-container {
  margin: 0;
   width: auto;
   height: auto;
}
div.greyell{
  background-color: #e3e3e3;
  border-bottom: 3px solid #ffcc01;
}

#greencomp{
  margin: 5%;
}
.greencomp{
    table-layout:fixed;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #003467;
}
.greencomp tr{
  text-align: center;
}
.greencomp td{
  position: inherit;
  white-space: normal;
  word-wrap: break-word;
  text-align: center;
}
#switWrap{
  width: 100%;
  height:100%;
  align-items: center;
  text-align: center;
}
#switches{
  display: inline-block;
  position: relative;
  width: -webkit-fill-available;
  height: auto;
  padding: 3%;
}
#switches button{
  text-align: center;
  margin:0;
  float: left;
  color: #003467;
  background-color: #e3e3e3;
  width: 20%;
}
#switches button:hover {
    background-color: #ffcc01;
}
h1#chartTitle{
  color: #003467;
  text-align: center;
  margin-bottom: 1%;
}
h2#chartNum, #chartLabel{
  color: #003467;
  text-align: center;
  font-weight: normal;
  margin-top: 0;
}
#Labels{
  position: relative;
  align-items: center;
  text-align: -webkit-center;
  padding: 1%;
}

#elec, #heat, #cool{
  display: inline-block;
  position: inherit;
  left: 5px;
  top: 5px;
}

table .label{
  table-layout:fixed;
  height: auto;
  width: 40%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 2%;
}
.label tr{
  border: 5px solid transparent;
}
.label td{
  text-align: center;
  margin:10%;
}
.circle{
  height: 75%;
  width: 75%;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  border: 5px solid #ffcc01;
}
