{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static '/edashboard/stylesheet.css'%}">
    <link rel="shortcut icon" href="{% static '/edashboard/images/favicon.ico' %}" />
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/gauge.js"></script>
  </head>
  <body>
    <div class="container" style="clear:both; height:100%; width:100%;">
      <div style="float: left; width:-webkit-fill-available;">
        {% include "edashboard/header.html" %}
        <div id='stacked'>
        <div id="topcont" style="margin-left:2%;margin-top: 0;">
          <div id="buildimg">
            <h1 style="color: #003467;text-align:left;height:fit-content;"> {{ bname|safe }} </h1>
            <img src={% static '/edashboard/images/SAS.jpg' %} style="margin:1%;">
          </div>
          <div id="weather">
            <h5>Flagstaff Weather</h5>
            <div class="forecast">
              <div class="vertical">
                <h6>{{ weather_day1.temperature|safe }}F</h6>
                <img src="http://openweathermap.org/img/w/{{ weather_day1.icon|safe }}.png" alt="Image">
                <h6>{{ weather_day1.description|safe }}</h6>
              </div>
              <div class="vertical">
                <h6>{{ weather_day2.temperature|safe }} F</h6>
                <img src="http://openweathermap.org/img/w/{{ weather_day2.icon|safe }}.png" alt="Image">
                <h6>{{ weather_day2.description|safe }}</h6>
              </div>
              <div class="vertical">
                <h6>{{ weather_day3.temperature|safe }} F</h6>
                <img src="http://openweathermap.org/img/w/{{ weather_day3.icon|safe }}.png" alt="Image">
                <h6>{{ weather_day3.description|safe }}</h6>
              </div>
            </div>
          </div>
          <div id="donutgraph" style="height: min-content;max-width:25%; height:auto;">
            <div id="chartdiv"></div>
          </div>
        </div>
        <div id="bottomcont">
          <div id="Leftgraph" style="text-align: center;">
            <h2 style="text-align:center;">Historical Data</h2>
          <div id="switches">
            <button id="hour" onclick="chgColor('hour')" style="width:50%">Hourly</button>
            <button id="15m" onclick="chgColor('15m')" style="width:50%">15-Min</button>
          </div>
          {% if user.is_authenticated %}
            <div id="selectsens" class="custom-select" style="width:200px;">
              <li class="dropdown-toggle" style="display:none;">Sensor</li>
              <h2 class="select">Select a Sensor</h2>
              <select>
                {% for data in list2 %}
                  <option>{{ data }}</option>
                {% endfor %}
              </select>
            </div>
          {% else %}
          <div id="selectutil"class="custom-select" style="width:200px;">
            <li class="dropdown-toggle" style="display:none;">Utility</li>
            <h2 class="select">Select a Utility</h2>
            <select>
              <option>Current Demand KW</option>
              <option>Dom Water Gallons</option>
              <option>Reclaimed Water Gallons</option>
              <option>Steam KBTU</option>
            </select>
          </div>
          {% endif %}
          <div>
            <button onClick="downloadData(event)" style="margin:0; margin-top: 5%;">Download Data</button>
          </div>
        </div>
          <div class="graphcont" style="margin:0; width: 50%; height: inherit;">
            <canvas id="line-chart"></canvas>
            <script>
            {% include "edashboard/scripts/buildgraph.js" %}
            {% include "edashboard/scripts/sidebar.js" %}
            {% include "edashboard/scripts/donutgraph.js" %}
            document.getElementById("hour").style.backgroundColor = "rgb(255, 204, 1)";
            // Toggles button color and the labels
            function chgColor(id){
              // Changes colors of buttons
              document.getElementById(id).style.backgroundColor = "rgb(255, 204, 1)";
              if(id == "15m"){
                document.getElementById("hour").style.backgroundColor = "#e3e3e3";
              }
              else if(id == "hour"){
                document.getElementById("15m").style.backgroundColor = "#e3e3e3";
              }
              // Changes the button to be highlighted
              chgLabels(id);
            }
            function downloadData(event){
              event.preventDefault();
              var durl = "{% url 'down_building' data=0%}".replace(/0/, dataset);
              window.location.href = "" + durl.toString() + "";
            }

            </script>
          </div>
          <div id="stats">
            <div id="innerstats" class="greyell">
              <h1 style= "color:#003467" >Statistics</h1>
              <div id="statdata">
              <h4><b>Mean:</b> {{mean|safe}}</h4>
              <h4><b>Median:</b> {{median|safe}}</h4>
              <!-- -->
              <h4><b>1st Quartile</b> {{quartile1|safe}}</h4>
              <h4><b>3rd Quartile</b> {{quartile3|safe}}</h4>
              <h4><b>IQR</b> {{iqr|safe}}</h4>
              <!--  -->
            </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- Styles -->
    <style>
    #chartdiv {
      width: 100%;
      height: 500px;
      margin: auto;
    }
    </style>
  </body>
</html>
