{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static '/edashboard/stylesheet.css'%}">
    <link rel="shortcut icon" href="{% static '/edashboard/images/favicon.ico' %}" />
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://www.amcharts.com/lib/4/core.js"></script>
    <script src="https://www.amcharts.com/lib/4/charts.js"></script>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/gauge.js"></script>
  </head>
  <body>
    <div class="container" style="clear:both; height:100%; width:100%;">
      <div style="float: left; width:-webkit-fill-available;">
        {% include "edashboard/header.html" %}
        <div id='stacked'>
        <div id="topcont" style="margin-left:2%;margin-top: 0;">
          <div id="buildimg">
            <h1 style="color: #003467;text-align:left;height:fit-content;"> {{ bname|safe }} </h1>
            <img src="{% static imagePath %}" style="margin:1%;">
          </div>
          <div id="weagreenstack">
          <div class="greyell" id="greencomp">
            <table class="greencomp">
              <tr>
                <td>CARBON OFFSET</td>
                <td><span class="circle"><img id="factory" src={% static 'edashboard/images/factory.png' %} style="max-width: -webkit-fill-available;"></span></td>
                <td>TREES PLANTED</td>
                <td><span class="circle"><img id="factory" src={% static 'edashboard/images/tree.png' %} style="max-width: -webkit-fill-available;"></span></td>
                <td>BARRELS OF OIL CONSUMED</td>
                <td><span class="circle"><img id="factory" src={% static 'edashboard/images/barrel.png' %} style="max-width: -webkit-fill-available;"></span></td>
              </tr>
              <tr id="compval">
                <td colspan="2" id=carOff><b>{{carbon|safe}} Lbs.</b></td>
                <td colspan="2" id=treSav><b>{{trees|safe}} Trees</b></td>
                <td colspan="2" id=barOil><b>{{oil|safe}} Barrels</b></td>
              </tr>
            </table>
          </div>
        </div>
          <div>
            <div id="donutgraph" style="height: min-content;max-width:25%; height:auto;">
              <div id="chartdiv"></div>
            </div>
          </div>
        </div>

        <div id="bottomcont">
          <div id="Leftgraph" style="text-align: center;">
            <h2 style="text-align:center;">Historical Data</h2>
          <div id="switches">
            <button id="hour" onclick="chgColor('hour')" style="width:50%">60-Min</button>
            <!-- <button id="30m" onclick="chgColor('hour')" style="width:50%">30-Min</button> -->
            <button id="15m" onclick="chgColor('15m')" style="width:50%">15-Min</button>
          </div>
          <div id="selectutil"class="custom-select" style="width:200px;">
            <li class="dropdown-toggle" style="display:none;">Utility</li>
            <h2 class="select">Select a Utility</h2>
            <select>
              {% for utility in utilities %}
                <option>{{ utility }}</option>
              {% endfor %}
            </select>
          </div>
          <div>
            <!--<button id="graphdata" onClick="getData(event)">Graph Data</button>-->
            <button onclick="graphBuildData(event)" style="margin:0; margin-top: 5%;">Graph Data</button>
          </div>
        </div>
          <div class="graphcont" style="margin:0; width: 50%; height: inherit;">
            <canvas id="line-chart"></canvas>
            <script>
            {% include "edashboard/scripts/buildgraph.js" %}
            {% include "edashboard/scripts/dropdownlis.js" %}
            {% include "edashboard/scripts/donutgraph.js" %}
            document.getElementById("hour").style.backgroundColor = "rgb(255, 204, 1)";
            // Toggles button color and the labels
            function chgColor(id){
              // Changes colors of buttons
              document.getElementById(id).style.backgroundColor = "rgb(255, 204, 1)";
              if(id == "15m"){
                document.getElementById("hour").style.backgroundColor = "#e3e3e3";
              }
              else if(id == "hour"){
                document.getElementById("15m").style.backgroundColor = "#e3e3e3";
              }
              // Changes the button to be highlighted
              chgLabels(id);
            }

            function graphBuildData(event){
              event.preventDefault();
              var building = document.getElementById("buildimg").getElementsByTagName('h1')[0];
              var buttons = document.getElementById('switches').getElementsByTagName('button');
              var incr;
              if(buttons[0].style.backgroundColor == 'background-color: rgb(255, 204, 1)'){
                incr = 60;
              }
              else{
                incr =15;
              }
              var util = document.getElementById('select-selected-util').innerHTML;
              var buildnum = '{{bnum|safe}}';
              var details = buildnum + "incr=" + incr +"util=" +util;
              var destinationUrl = "{% url 'building2' builddata=0 %}".replace(/0/, details.toString());
              window.location.href = "" + destinationUrl.toString() + "";
            }

            </script>
          </div>
          <div id="stats">
            <div id="innerstats" class="greyell">
              <h1 style= "color:#003467" >Statistics</h1>
              <div id="statdata">
              <h4><b>Mean:</b> {{mean|safe}}</h4>
              <h4><b>Median:</b> {{median|safe}}</h4>
            </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- Styles -->
    <style>
    #chartdiv {
      width: 100%;
      height: 500px;
      margin: auto;
    }
    </style>
  </body>
</html>
