{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static '/edashboard/stylesheet.css'%}">
    <link rel="shortcut icon" href="{% static '/edashboard/images/favicon.ico' %}" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  </head>
  <body>
    {% include "edashboard/header.html" %}
    <div class="exp-container">
      <div id="selector">
        <div id="error-display">
			  </div>
        <h1 id="downloadrep">Compare Data</h1>
        <div class="greyell" id="reportrange" style="cursor: pointer; padding: 5px 10px;">
            <i class="fa fa-calendar"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down"></i>
        </div>
        {% include "edashboard/searchbuilding.html" %}
        <button id="graphdata" onClick="checkFields()">Graph Data</button>
      </div>
      <div class="graph-cont" style=" display:inline-block;">
        <div class="chart-container" style="text-align: -webkit-center;">
          <canvas id="line-chart" width="800" height="450"></canvas>
        </div>
        <button id="Down-button">Download .CSV</button>
      </div>
    </div>
  </body>
<script>
  {% include "edashboard/scripts/compgraph.js" %}
  {% include "edashboard/scripts/checkcfields.js" %}
/* If the user clicks anywhere outside the select box,
then close all select boxes: */
document.addEventListener("click", closeAllSelect);
</script>
</html>
