{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static "/edashboard/stylesheet.css" %}">
    <link rel="shortcut icon" href="{% static '/edashboard/images/favicon.ico' %}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  </head>
  <body>
    {% include "edashboard/header.html" %}
    <div class="exp-container">
      <div id="selector">
        <div id="error-display">
			  </div>
        <h1 id="downloadrep">Download Reports</h1>
        {% if user.userprofile.permission is 3 %}
        <div id="switches" style="margin: 7.5%;">
          <button id="utilswitch" onclick="chgColor('utilswitch')" style="width:50%">By Utility</button>
          <!-- <button id="30m" onclick="chgColor('hour')" style="width:50%">30-Min</button> -->
          <button id="sensswitch" onclick="chgColor('sensswitch')" style="width:50%">By Sensor</button>
        </div>
        {% endif %}
        {% if user.userprofile.permission is 3 %}
        <form id="form-info" >
          {% include "edashboard/highbuildslctr.html" %}
          </form>
          <form id="form-info2" >
            {% include "edashboard/lowbuildslctr.html" %}
          </form>
          {% else %}
          <form id="form-info" >
            {% include "edashboard/lowbuildslctr.html" %}
          </form>
          {% endif %}
        </div>
      <div class="graph-cont" style=" display:inline-block;">
        <div class="chart-container" style="text-align: -webkit-center;">
          <canvas id="line-chart" width="800" height="450"></canvas>
        </div>
        <button id="Down-button" onClick="downloadData(event)" value="Go Elsewhere" formaction="/elsewhere">Download .CSV</button>
      </div>
    </div>
  </body>
<script>
  {% include "edashboard/scripts/expselector.js" %}
  {% include "edashboard/scripts/expgraph.js" %}
  {% include "edashboard/scripts/timeRange.js" %}
  {% include "edashboard/scripts/checkefields.js" %}
  // Toggles button color and the labels
  var time = document.getElementById("reportrange").getElementsByTagName('span')[0];
  time.setAttribute("id","stringtime");
  time.setAttribute("name","stringtime");
  {% if user.userprofile.permission is 3 %}
  var time2 = document.getElementById("reportrange2").getElementsByTagName('span')[0];
  time2.setAttribute("id","stringtime2");
  time2.setAttribute("name","stringtime2");
  document.getElementById("form-info").style.display = "none";
  {% endif %}
  function downloadData(event){
    event.preventDefault();
    var dataset = [{{usage|safe}}, "date", {{date|safe}},];
    var durl = "{% url 'down_export' data=0%}".replace(/0/, dataset);
    window.location.href = "" + durl.toString() + "";
  }

  function getSensorData(event){
    event.preventDefault();
    var times = ($("span#stringtime2").text()).replace(" ","");
    var sensor = $('#sensorsearchexpcompsearch').val();
    var details = "time=" + times + "sensor=" +sensor;
    var destinationUrl = "{% url 'export2' builddata=0 %}".replace(/0/, details.toString());
    window.location.href = "" + destinationUrl.toString() + "";
    //var util = $('#select-selected-util').clone().children().remove().end().text();
    //var myEvent = {'building': buildingname,'time': timestr, 'util': util, 'sensor': sensor};
  }
  function getUtilityData(event){
    event.preventDefault();
    var times = ($("span#stringtime").text()).replace(" ","");
    var buildingname = $('#buildingsearchexpcompsearch').val();
    buildingname = getNum(buildingname);
    var util = $('#select-selected-util').clone().children().remove().end().text();
    console.log(util);
    var details = "build=" + buildingname + "time=" + times + "util=" +util;
    var destinationUrl = "{% url 'export2' builddata=0 %}".replace(/0/, details.toString());
    window.location.href = "" + destinationUrl.toString() + "";
    //var util = $('#select-selected-util').clone().children().remove().end().text();
    //var myEvent = {'building': buildingname,'time': timestr, 'util': util, 'sensor': sensor};
  }

  function getNum(buildstr) {
    var num = buildstr.split(" ");
    var last = (num[num.length-1]).substring(1);
    return last.substring(0, last.length - 1);
  }
  function chgColor(id){
    // Changes colors of buttons
    document.getElementById(id).style.backgroundColor = "rgb(255, 204, 1)";
    if(id == "utilswitch"){
      document.getElementById("form-info2").style.display = "unset";
      document.getElementById("sensswitch").style.backgroundColor = "#e3e3e3";
      document.getElementById("form-info").style.display = "none";
    }
    else if(id == "sensswitch"){
      document.getElementById("form-info").style.display = "unset";
      document.getElementById("utilswitch").style.backgroundColor = "#e3e3e3";
      document.getElementById("form-info2").style.display = "none";
    }
  }
  /* If the user clicks anywhere outside the select box,
  then close all select boxes: */
  document.addEventListener("click", closeAllSelect);
</script>
</html>
