{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static "/edashboard/stylesheet.css" %}">
    <link rel="shortcut icon" href="{% static '/edashboard/images/favicon.ico' %}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  </head>
  <body>
    {% include "edashboard/header.html" %}
    <div class="exp-container">
      <div id="selector">
        <div id="error-display">
			  </div>
        <h1 id="downloadrep">Download Reports</h1>
        <form method='POST'>{% csrf_token %}
        <div class="greyell" id="reportrange" style="cursor: pointer; padding: 5px 10px;">
            <i class="fa fa-calendar"></i>&nbsp;
            <span></span> <i class="fa fa-caret-down"></i>
        </div>
        {% include "edashboard/addbuilding.html" %}
        <button id="graphdata" onClick="checkFields()" type="submit">Graph Data</button>
      </div>
    </form>
      <div class="graph-cont" style=" display:inline-block;">
        <div class="chart-container" style="text-align: -webkit-center;">
          <canvas id="line-chart" width="800" height="450"></canvas>
        </div>
        <button id="Down-button">Download .CSV</button>
      </div>
    </div>
  </body>
<script>
/*
//READING FROM .CSV CODE ****IN PROGRESS*****
var buildings = [];
$(document).ready(function() {
    $.ajax({
        type: "GET",
        url: "edashboard/buildings.csv",
        dataType: "text",
        success: function(data) {processData(data);}
     });
});
function processData(allText) {

}*/
//TIME RANGE CODE
var time = document.getElementById("reportrange").getElementsByTagName('span')[0];
time.setAttribute("id","stringtime");
time.setAttribute("name","stringtime");
$(function() {
    var start = moment().subtract(29, 'days');
    var end = moment();
    function cb(start, end) {
        $('#reportrange span').html(start.format('MMMM D, YYYY h:mm a') + ' - ' + end.format('MMMM D, YYYY h:mm a'));
    }
    $('#reportrange').daterangepicker({
        startDate: start,
        endDate: end,
        timePicker: true,
        ranges: {
           'Today': [moment(), moment()],
           'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
           'Last 7 Days': [moment().subtract(6, 'days'), moment()],
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'This Month': [moment().startOf('month'), moment().endOf('month')],
           'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
        }
    }, cb);
    cb(start, end);
});
// GRAPH CODE
  new Chart(document.getElementById("line-chart"), {
    type: 'line',
    data: {
      labels: [{% for data in db_id %}
                    {{ data }},
                  {% endfor %}],
      fillOpacity: .3,
      datasets: [{
          data: [{% for data in db_data %}
                        {{ data }},
                        {% endfor %}],
          label: "Week 1",
          borderColor: "#1f61a8",
          fill: origin,
          backgroundColor: "rgba(31,97,168,.3)",
        },
      ]
    },
    options: {
      responsive: false,
      title: {
        display: true,
        text: "SAS Building Electricity usage",
      },
      scales: {
      xAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'Time'
        }
      }],
      yAxes: [{
        scaleLabel: {
          display: true,
          labelString: 'Electricity (kWh)'
        }
      }]
    }
    }
  }
);
	var missing = [];
	var clicked = [];
	var errcount = 0;


	function checkFields(){
    var buildingname = document.getElementById('search').value.length;
    var valarr = document.getElementsByClassName('select-selected').innerHTML;
    var buildingsensor = document.getElementById('select-selected-sens').innerHTML;
    var buildingutil = document.getElementById('select-selected-util').innerHTML;
    //If Name not entered
		if(buildingname == 0){
			var flag = 0;
			//checks if in missing array
			for(i=0;i<missing.length;i++){
				if(missing[i] == 'Building Name'){
					flag = 1
					break;
				}
			}
			//if not in array
			if(flag == 0){
				missing[missing.length] = 'Building Name';
			}
			// If there is an Error box, UPDATE <p>
			if(document.getElementById('required-field-error')){
				var str = arrToString(missing);
				var para = document.getElementById('reqfielderror');
				para.textContent = str;
			}
			// If there isn't an error box
			else{
				//Create div
				errcount++;
				var innerdiv = document.createElement('div');
				innerdiv.setAttribute("id", "required-field-error");
				var str = arrToString(missing);
    		innerdiv.innerHTML = "<p id=reqfielderror>" + str + "</p>";
     		(document.getElementById("error-display")).appendChild(innerdiv);
			}
		}
    //Name entered
    else {
      for(i=0;i<missing.length;i++){
				if(missing[i] == 'Building Name'){
					missing[i] = null;
  				var str = arrToString(missing);
  				var para = document.getElementById('reqfielderror');
  				para.textContent = str;
				}
			}
    }
    if(buildingutil == "Select"){
			var flag = 0;
			//checks if in missing array
			for(i=0;i<missing.length;i++){
				if(missing[i] == 'Building Utility'){
					flag = 1
					break;
				}
			}
			//if not in array
			if(flag == 0){
				missing[missing.length] = 'Building Utility';
			}
			// If there is an Error box, UPDATE <p>
			if(document.getElementById('required-field-error')){
				var str = arrToString(missing);
				var para = document.getElementById('reqfielderror');
				para.textContent = str;
			}
			// If there isn't an error box
			else{
				//Create div
				errcount++;
				var innerdiv = document.createElement('div');
				innerdiv.setAttribute("id", "required-field-error");
				var str = arrToString(missing);
    		innerdiv.innerHTML = "<p id=reqfielderror>" + str + "</p>";
     		(document.getElementById("error-display")).appendChild(innerdiv);
			}
		}
    else {
      for(i=0;i<missing.length;i++){
				if(missing[i] == 'Building Utility'){
					missing[i] = null;
  				var str = arrToString(missing);
  				var para = document.getElementById('reqfielderror');
  				para.textContent = str;
				}
			}
    }
    if(buildingsensor == "Select"){
			var flag = 0;
			//checks if in missing array
			for(i=0;i<missing.length;i++){
				if(missing[i] == 'Building Sensor'){
					flag = 1
					break;
				}
			}
			//if not in array
			if(flag == 0){
				missing[missing.length] = 'Building Sensor';
			}
			// If there is an Error box, UPDATE <p>
			if(document.getElementById('required-field-error')){
				var str = arrToString(missing);
				var para = document.getElementById('reqfielderror');
				para.textContent = str;
			}
			// If there isn't an error box
			else{
				//Create div
				errcount++;
				var innerdiv = document.createElement('div');
				innerdiv.setAttribute("id", "required-field-error");
				var str = arrToString(missing);
    		innerdiv.innerHTML = "<p id=reqfielderror>" + str + "</p>";
     		(document.getElementById("error-display")).appendChild(innerdiv);
			}
		}
		// If there is a entered value, remove the value or box
    else {
      for(i=0;i<missing.length;i++){
				if(missing[i] == 'Building Sensor'){
					missing[i] = null;
  				var str = arrToString(missing);
  				var para = document.getElementById('reqfielderror');
  				para.textContent = str;
				}
			}
    }
    //Checks for no errors
    var flag2 = 0
    for(i=0;i<missing.length;i++){
      if(missing[i]!=null){
        flag2=1
      }
    }
    //Removes error box if none
    if(flag2==0){
      var innerdiv = document.getElementById('required-field-error');
				if(innerdiv){
					innerdiv.parentNode.removeChild(innerdiv);
				}
        //ADD CODE HERE TO GENERATE GRAPH
    }
	}
	function arrToString(array){
		var str = "ERROR: You must enter in a value for: ";
		var count = 0;
		var found = 0;
		for(i=0;i<missing.length;i++){
			if(array[i] != null){
				count++;
			}
		}
		for(i = 0; i<missing.length; i++){
			if(array[i] == null){
				continue;
			}
			else if(found==count-2){
				str+= array[i] + " & ";
				found++;
			}
			else if(found==count-1){
				str+= array[i]+".";
				found++;
			}
			else{
			str+= array[i] + ", ";
			found++;
			}
		}
		return str;
	}

/* If the user clicks anywhere outside the select box,
then close all select boxes: */
document.addEventListener("click", closeAllSelect);
</script>
</html>
