{% load static %}
<link rel="stylesheet" type="text/css" href={% static '/edashboard/stylesheet.css' %}>
<div class="topnav" id="Topnav" style="clear: both;">
  <div style="height:50px; width:auto; display: inline-block; float: left;">
    <img id="logo" src={% static '/edashboard/images/logo.png' %} style="margin:1%; max-height:inherit; width:auto;padding: 6px 17px;">
  </div>
  <div id="links" style="float: left; font-size: 25px;" >
    <a href="{% url 'edashboard:index' %}" style="padding: 17px 17px;">Home</a>
    <a href="{% url 'edashboard:export' %}" style="padding: 17px 17px;">Export</a>
    <a href="{% url 'edashboard:building' %}" style="padding: 17px 17px;">Building</a>
    <a href="{% url 'edashboard:compare' %}" style="padding: 17px 17px;">Comparison</a>
  </div>
  <div id="settings">
    <a href="{% url 'edashboard:help' %}">Help</a>
    <a href="{% url 'edashboard:adminsite' %}">Admin</a>
    <a href="{% url 'edashboard:index' %}">Logout</a>
    <span class="clear"></span>
  </div>
</div>
