{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href={% static '/edashboard/stylesheet.css'%}>
    <link rel="shortcut icon" href="{% static '/edashboard/images/favicon.ico' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  </head>
  <body>
    {% include "edashboard/header.html" %}
    <div id="container">
      <div>
        <h1 id="head">Energy Dashboard Help</h1>
        <div>
          <div style="margin-left:5%;">
            <div>
              <h3>How can I use it?</h3>
              <p>Here, we will give you some tip how to use the energy dashboard.<br/></p>
              <div style="display:flex;">
                <p>
                  When a user first access to the homepage, there are buttons on the top of the screen.
                  The first red box at the top left shows some buttons. These buttons allows users to explore each page.
                  A building button opens a small window under the building button, such as a second red box on the left top.
                  Users can search the building by number or name. Also, if a user presses a small button under the search window,
                  the buildings display lists of buildings. These lists will navigate users to each building page that they select.
                  <br/><br/>
                  There is a login/sign-up button in the upper right corner.
                  The energy dashboard is available to everyone, but more features require login. However, the user has original permission when first sign up, therefore they should ask to get authorization to view more.
                </p>
                <img src="{% static 'edashboard/images/helpPic/home.png' %}" style="margin:2%;width:55%;height:55%;">
              </div>

              <p>More detailed data is available on the Reports page.<br/></p>
              <div style="display:flex;">
                <p>
                  Users can compare one or more graphs up to four.<br/>
                  First, users need to search a building by the name or number and select an exact date time; year, month, date, hour.
                  When users click a graph button after choosing a utility type, a graph will display on the right of the screen.
                  After the searches have been done,
                  the data will be downloaded by clicking a button under the graph. The data will be provided as a CSV file.
                </p>
                <img src="{% static 'edashboard/images/helpPic/report.png' %}" style="margin:2%;width:55%;height:55%;">

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

</html>
