<div class="greyell" id="reportrange2" style="cursor: pointer; padding: 5px 10px;">
  <i class="fa fa-calendar"></i>&nbsp;
  <span></span> <i class="fa fa-caret-down"></i>
</div>
<div id="sensorsearch">
  <input id="sensorsearchexpcompsearch" class="search" type="text" placeholder="Search For A Sensor..." autofocus/>
  <ul id="autocomplete-results3"></ul>
</div>
<button id="graphdata" onClick="getSensorData(event)">Graph Data</button>
<script>
  //{% include "edashboard/scripts/sensorsearch.js" %}
  {% load staticfiles %}
  //TIME RANGE CODE
  $(function() {
      var start = moment().subtract(29, 'days');
      var end = moment();
      function cb(start, end) {
          $('#reportrange2 span').html(start.format('MMMM D, YYYY h:mm a') + ' - ' + end.format('MMMM D, YYYY h:mm a'));
      }
      $('#reportrange2').daterangepicker({
          startDate: start,
          endDate: end,
          timePicker: true,
          ranges: {
             'Today': [moment(), moment()],
             'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
             'Last 7 Days': [moment().subtract(6, 'days'), moment()],
             'Last 30 Days': [moment().subtract(29, 'days'), moment()],
             'This Month': [moment().startOf('month'), moment().endOf('month')],
             'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
          }
      }, cb);
      cb(start, end);
  });

</script>
