{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css'%}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  </head>
  <body>
    {% include "edashboard/header.html" %}
    <div id="container">
      <div id="left-cont">
        <div id="descr">
          <div id="banner">
            <div id="innerbanner" style="background-image: url({% static 'edashboard/images/NAU2.jpg' %}); background-size:cover;">
              <img id="logo" src="{% static 'edashboard/images/Logo2.png' %}" style="max-width: -webkit-fill-available;">
            </div>
          </div>
          <div id="name">
            <h1 id="head">Energy Dashboard</h1>
          </div>
        </div>
        <div class="greyell" id="greencomp">
          <table class="greencomp">
            <tr>
              <td>CARBON OFFSET</td>
              <td><span class="circle"><img id="factory" src="{% static 'edashboard/images/factory.png' %}" style="max-width: -webkit-fill-available;"></span></td>
              <td>TREES SAVED</td>
              <td><span class="circle"><img id="factory" src="{% static 'edashboard/images/tree.png' %}" style="max-width: -webkit-fill-available;"></span></td>
              <td>BARRELS OF OIL</td>
              <td><span class="circle"><img id="factory" src="{% static 'edashboard/images/barrel.png' %}" style="max-width: -webkit-fill-available;"></span></td>
            </tr>
            <tr id="compval">
              <td colspan="2" id=carOff><b>324349 Lbs.</b></td>
              <td colspan="2" id=treSav><b>7456.3 Trees</b></td>
              <td colspan="2" id=barOil><b>315.3 Barrels</b></td>
            </tr>
          </table>
        </div>
      </div>
      <div id="right-cont">
        <div class="chart-container">
          <!--Chart Title-->
          <h1 id="chartTitle">Current Campus Usage For Monitored Buildings:</h1>
          <h2 id="chartNum">245,882,754 BTU/HOURS</h2>
          <!--Chart-->
          <canvas id="pie-chart" width="800" height="450"></canvas>
        </div>
        <!--Chart Labels-->
        <div id="Labels">
          <table class="label" cellpadding="8" width:"30%">
            <tr><td bgcolor="#e3e3e3">Electricity</td><td id=eval>32483943</td><td class="Labels">BTU/HOURS</td></tr>
            <tr><td bgcolor="#003467" style="color:white">Cooling</td><td id=cval>342342</td><td class="Labels">BTU/HOURS</td></tr>
            <tr><td bgcolor="#ffcc01">Heating</td><td id=hval>324234</td><td class="Labels">BTU/HOURS</td></tr>
          </table>
        </div>
          <!-- Need python functions to Convert from BTU to kW, Ton, Gas, Dollars and for all combos -->
        <div id="switWrap">
          <!--Units buttons-->
          <h2 style="margin:0;padding:2%;">Compare Usage In Equivalent Units:</h2>
          <div id="switches">
            <button id="btu" onclick="chgColor('btu')">BTU</button>
            <button id="kw" onclick="chgColor('kw')">kW</button>
            <button id="ton" onclick="chgColor('ton')">Tons</button>
            <button id="gas" onclick="chgColor('gas')">Gasoline</button>
            <button id="cost" onclick="chgColor('cost')">Cost</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<script>
// Sets the defaults of the chart
var currUnit = "BTU/HOUR";
document.getElementById("btu").style.backgroundColor = "#ffcc01";

// Toggles button color and the labels
function chgColor(id) {
  // Changes colors of buttons
  if(document.getElementById("btu").style.backgroundColor == "rgb(255, 204, 1)"){
    document.getElementById("btu").style.backgroundColor = "#e3e3e3";
  }
  else if(document.getElementById("kw").style.backgroundColor == "rgb(255, 204, 1)"){
    document.getElementById("kw").style.backgroundColor = "#e3e3e3";
  }
  else if(document.getElementById("ton").style.backgroundColor == "rgb(255, 204, 1)"){
    document.getElementById("ton").style.backgroundColor = "#e3e3e3";
  }
  else if(document.getElementById("gas").style.backgroundColor == "rgb(255, 204, 1)"){
    document.getElementById("gas").style.backgroundColor = "#e3e3e3";
  }
  else{
    document.getElementById("cost").style.backgroundColor = "#e3e3e3";
  }

  document.getElementById(id).style.backgroundColor = "#ffcc01";
  // Changes displayed Labels
  var elements = document.getElementsByClassName("Labels");
  if (id== "kw"){
    for(var i=0; i<elements.length; i++) {
      elements[i].innerHTML= "kW/HOUR";
    }
  }
  else if (id=="btu") {
    for(var i=0; i<elements.length; i++) {
      elements[i].innerHTML= "BTU/HOUR";
    }
  }
  else if (id=="ton") {
    for(var i=0; i<elements.length; i++) {
      elements[i].innerHTML= "TONS";
    }
  }
  else if (id=="gas") {
    for(var i=0; i<elements.length; i++) {
      elements[i].innerHTML= "GAS";
    }
  }
  else {
    for(var i=0; i<elements.length; i++) {
      elements[i].innerHTML= "DOLLARS";
    }
  }
}

//Code for the chart
new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: ["Electricity","Cooling", "Heating"],
      datasets: [{
        label: "BTU/Hour",
        backgroundColor: ["#e3e3e3","#003467","#ffcc01"],
        //Need to display 10,30,60 <- All need to add up to 100% not actual data value
        // Need python function to call and return today's electricity, cooling, heating, and total from DB in array.
        data: [2478,5267,734]
      }]
    },
    options: {
      legend: {
        display: false,
            }
          }
        });


</script>
