{% load staticfiles %}
{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static '/edashboard/stylesheet.css'%}">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <link rel="shortcut icon" href={% static '/edashboard/images/favicon.ico' %} />
{% endblock %}
{% block body %}
<body>
  <div id="containerbg" style="background: url({% static 'edashboard/images/NAU.jpg' %});background-size: cover; background-repeat: no-repeat;">
    <img id="logolog" src={% static '/edashboard/images/logo.png' %} style="margin:1%;">
    <div id="formcontainer" style="margin-top: 5%">
        <form id="login" method='post'>
          <h1>Sign up with us!</h1>
          {% csrf_token %}
          {{ form.as_p }}
          <button id="loginb" type="submit" value="Submit">Login</button>
        </form>
    </div>
  </div>
{% endblock %}
