    <li class="links">
      <a href="#" class="numbuild">Buildings by number</a>
      <ul id="numbersub">
        <li>1 Gamage</li>
        <li>2 Blome</li>
        <li>3 1899</li>
        <li>4 Morton Hall</li>
        <li>8 Bury</li>
        <li>9 Taylor Hall</li>
        <li>10 Old Main</li>
        <li>11 Ashurst</li>
        <li>12 Geology</li>
        <li>13 Geo Annex</li>
        <li>13A Rosebury</li>
        <li>14 NACC</li>
        <li>15 Riles</li>
        <li>16 Communication</li>
        <li>16A DLC</li>
        <li>17 Science Lab</li>
        <li>18 Liberal Arts</li>
        <li>19 PhyScience</li>
        <li>21B Biology Annex</li>
        <li>25 HLC</li>
        <li>26 Adel</li>
        <li>27 Eastburn</li>
        <li>27A IHD</li>
        <li>28 Cline</li>
        <li>29 Calderone</li>
        <li>30 Fieldhouse</li>
        <li>30A Stdnt Servs Vav Ovrw</li>
        <li>30B Student Services</li>
        <li>30C Dining Hall Exapnsion</li>
        <li>30D Univ. Dining</li>
        <li>31 Gillenwater Hall</li>
        <li>33 HRM</li>
        <li>35 Bookstore</li>
        <li>36 Science & Health</li>
        <li>37 Performing Arts</li>
        <li>37A Ardery Audit</li>
        <li>38 Cowden</li>
        <li>39 Raymond Hall</li>
        <li>40 McDonald Hall</li>
        <li>42 Sechrist Hall</li>
        <li>43 Gateway</li>
        <li>44 Tinsley</li>
        <li>45 Wilson</li>
        <li>46 Allen Hall</li>
        <li>48 Reilly Hall</li>
        <li>50 Campus Heights</li>
        <li>50A ISP</li>
        <li>50B McKay Village</li>
        <li>53 Gabaldon Hall</li>
        <li>54 ITS</li>
        <li>54A TelComm</li>
        <li>55 Mountain View Hall</li>
        <li>58 Conference Center</li>
        <li>59 Hilltop</li>
        <li>60 SAS</li>
        <li>62 McConnell Hall</li>
        <li>64 Dubois (South Dining)</li>
        <li>65 SBS East</li>
        <li>69 College of EGR.</li>
        <li>70 SBS West</li>
        <li>71 South Village Apts.</li>
        <li>73 Skydome</li>
        <li>75 McConnell Suites</li>
        <li>81 College of Business</li>
        <li>82 Forestry</li>
        <li>83 Bus Barn</li>
        <li>86 Aquatic Center</li>
        <li>87 Skyview</li>
        <li>88 Wettaw</li>
        <li>90 Univ. Services</li>
        <li>91 Centenial (Park & Shuttle)</li>
        <li>93 Beaver Street School</li>
        <li>95 Pine Ridge Village</li>
        <li>96B San Fran Parking Garage</li>
        <li>98C Swing Space</li>
        <li>98D Campus Distriution Cntr</li>
        <li>98F Res Life Warehouse</li>
      </ul>
    </li>
    <li class="links">
      <a href="#">Buildings by Name</a>
      <ul id="namesub">
        <li>1899 (3)</li>
        <li>Adel (26)</li>
        <li>Allen Hall (46)</li>
        <li>Aquatic Center (86)</li>
        <li>Ardery Audit (37A)</li>
        <li>Ashurst (11)</li>
        <li>Beaver Street School (93)</li>
        <li>Biology Annex (21B)</li>
        <li>Blome (2)</li>
        <li>Bookstore (35)</li>
        <li>Bury (8)</li>
        <li>Bus Barn (83)</li>
        <li>Calderone (29)</li>
        <li>Campus Distriution Cntr (98D)</li>
        <li>Campus Heights (50)</li>
        <li>Centenial Park & Shuttle (91)</li>
        <li>Cline (28)</li>
        <li>College of Business (81)</li>
        <li>College of EGR. (69)</li>
        <li>Communication (16)</li>
        <li>Conference Center (58)</li>
        <li>Cowden (38)</li>
        <li>Dubois (64)</li>
        <li>Dining Hall Exapnsion (30C)</li>
        <li>DLC (16A)</li>
        <li>Eastburn (27)</li>
        <li>Fieldhouse (30)</li>
        <li>Forestry (82)</li>
        <li>Gabaldon Hall (53)</li>
        <li>Gamage (1)</li>
        <li>Gateway (43)</li>
        <li>Geo Annex (13)</li>
        <li>Geology (12)</li>
        <li>Gillenwater Hall (31)</li>
        <li>Hilltop (59)</li>
        <li>HLC (25)</li>
        <li>HRM (33)</li>
        <li>IHD (27A)</li>
        <li>ISP (50A)</li>
        <li>ITS (54)</li>
        <li>Liberal Arts (18)</li>
        <li>McConnell Hall (62)</li>
        <li>McConnell Suites (75)</li>
        <li>McDonald Hall (40)</li>
        <li>McKay Village (50B)</li>
        <li>Morton Hall (4)</li>
        <li>Mountain View Hall (55)</li>
        <li>NACC (14)</li>
        <li>Old Main (10)</li>
        <li>Performing Arts (37)</li>
        <li>Phys. Science (19)</li>
        <li>Pine Ridge Village (95)</li>
        <li>Raymond Hall (39)</li>
        <li>Reilly Hall (48)</li>
        <li>Res Life Warehouse (98F)</li>
        <li>Riles (15)</li>
        <li>Rosebury (13A)</li>
        <li>San Fran Parking Garage (96B)</li>
        <li>SAS (60)</li>
        <li>SBS East (65)</li>
        <li>SBS West (70)</li>
        <li>Science & Health (36)</li>
        <li>Science Lab (17)</li>
        <li>Sechrist Hall (42)</li>
        <li>Skydome (73)</li>
        <li>Skyview (87)</li>
        <li>South Village Apts. (71)</li>
        <li>Student Services (30B)</li>
        <li>Stdnt Servs Vav Ovrw (30A)</li>
        <li>Swing Space (98C)</li>
        <li>Taylor Hall (9)</li>
        <li>TelComm (54A)</li>
        <li>Tinsley (44)</li>
        <li>Univ. Dining (30D)</li>
        <li>Univ. Services (90)</li>
        <li>Wettaw (88)</li>
        <li>Wilson (45)</li>
      </ul>
    </li>
