<head>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'edashboard/stylesheet.css' %}">
</head>
<body>
  <div class="container" style="clear:both;">
    <div id='leftdiv' style="float: left; height: 100%; width:fit-content;">
      <div class='sideheader' id='sideheader' style="z-index: 2;">
        <div class="imgborder">
          {% load static %}
          <img id="logo" src="{% static 'edashboard/logo.png' %}" style="margin:1%;">
        </div>
      </div>
    </div>
    <div id='rightdiv' style="float: left; width:-webkit-fill-available;">
    </div>
  </div>
</body>
